@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-image: url(/images/mainPageImg.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100vw 100vh;

}
.navContent{
    display: flex;
    width: 100%;
}
.homeDiv{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logoDiv{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileDiv{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}

.navPlus{
    cursor: pointer;
    background-color: rgba(128,128,128,0.5);
    border-radius: 0.2rem;
    height: 2.5rem;
    width: 3rem;
    text-align: center;
    padding-top: 0.3rem;
}
.navImage {
    width: 2rem;  
    height: 2rem;
  }
  .navImageHome{
    width: 2rem;
    height: 2rem;
    margin: 0.25rem 0.5rem;
  }
  .navImageDiv {
    background-color: rgba(128,128,128,0.5);
    width: 3rem;
    height: 2.5rem;
    border-radius: 0.2rem;
  }

  .navbarBoard{
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    padding: 0.3125rem 0.46rem;
    margin-right: unset;
    font-size: 1.25rem;
    font-weight: bold;
    width: 6rem;
    background-color: rgba(128,128,128,0.5);
    border-radius: 0.2rem;
    height: 2.5rem;
}

.logo{
   width: 7rem;
   height: 2rem;
}
/* .navPlus{
    color: white;
    font-size: 2rem;
} */
.fa{
    color: white;
    font-size: 2rem;
}
.profileDiv img{
    border: 0.13rem solid white;
    border-radius: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
}
.slide{
    width: 50%;
    margin: auto;
    margin-top: 3rem;
    border: solid 0.5rem black;
    border-radius: 1rem;
    /* height: ; */
}
.slideImg{
    /* width: 20rem; */
    height: 30rem;
}
.yourPersonalBoard{
    align-items: center;
    background-color: rgb(181 139 86);
    width: 26%;
    margin-top: 4rem;
    border-radius: 0.4rem;
    display: flex;
    height: 6rem;
    position: relative;
}
.yourPersonalBoard h3{
    font-weight: bold;
    position:absolute;
    left: 7rem;
    color: white;
}
.yourPersonalBoard i{
    color: white;
    font-size: 3rem;
    position: absolute;
    left: 3rem;
}
.board-container{
    
    border-radius: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* margin-top: 2.5rem; */
    position: fixed;
    overflow: auto;
    top: 20rem;
    bottom: 0;
}
.board{
    width: 15rem;
    height: 10rem;
    margin: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    text-align: center;
    background-color: rgb(255 253 253);
    border-top: 2rem solid #384056;
    cursor: pointer;
}
.heading{
    color: #535262;
    font-size: 1.2rem;
    font-weight: 1000;
    margin-top: 0.5rem;
    cursor: pointer;
}
.deleteIcon{
    color: red;
    font-size: 1.5rem;
    position: relative;
    left: 6.3rem;
    bottom: 1.7rem;
    cursor: pointer;
}
.createBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 6rem;
    margin: 1rem;
    background-color: rgb(255 255 255 / 77%);
    color: #464665;
    font-size: 1.5rem;
    font-weight: 1000;
    cursor: pointer;
    border-radius: 0.6rem;
}
.createBoard>i{
    color: #676b83;
    font-size: 1.7rem;
}
.createBoard>a{
    padding-left: 0.8rem;
}

.popup{
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0 ,0.8);
    z-index: 1;
}

form{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 10rem;
    color: white;
    background-color: #4c4c4c;;
    margin: auto;
    border-radius: 0.5rem
}
.formDiv1{
    width: 80%;
    margin: auto;
    margin-top: 0.8rem;
}
.formDiv1 label{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}
.formDiv2{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    margin-top: 0.9rem;
}
.formDiv2 i{
    font-size: 1.7rem;
    margin-left: 1rem;
    color: rgb(218, 121, 121);
    cursor: pointer;
}

/* .createBoard{
     display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 15rem;
    margin: auto;
    margin-top: 17%;
    background-color: #d7d7d7;
    border-radius: 2rem;
    /* position: relative; 
    box-shadow: 0.4rem 0.4rem 1rem 0.8rem grey; 
}
/*
 .createBoard>.fa{ 
    position: absolute;
    margin-left: 25%; 
    
} */


.boardBody{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    /* background-color: #ada9a9; */
    background-image: url(/images/pexels-mads-thomsen-2739013.jpg);
    position: fixed;
    /* background-size: cover; */
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.boardName{
    background-color: rgb(212 176 70);
    /* color: black; */
    margin: 1.5rem 0;
    display: inline-block;
    min-width: 12rem;
    padding: 0 2rem;
    min-height: 3.2rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 8px black;
}
.boardName h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #535865;
    padding-top: 0.6rem;
    cursor: pointer;
}

.list-container{
    display: flex;
    width: 100%;
    margin-right: 0.5rem;
    position: fixed;
    overflow: auto;
    bottom: 0;
    top: 10rem;
    /* flex-wrap: wrap; */
}
.list{
    min-width: 19rem;
    height: fit-content;
    background-color: #494848;;
    /* background-color: rgb(103 45 45 / 35%); */
    /* color: rgb(151 151 183); */
    margin: 0 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}
.addList {
    min-width: 13rem;
    height: 4rem;
    background-color: rgb(42 110 34 / 70%);
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: 0 2rem;
    cursor: pointer;
    padding-top: 0.8rem;
}
.list h3{
    display: inline-block;
    width: 80%;
    min-height: 2rem;
    font-size: 1.3rem;
    margin-top: 0.8rem;
    margin-left: 0.8rem;
    font-weight: bold;
    color: white;
}
.deletelistIcon{
    display: inline;
    background-color: rgb(255 255 255 / 48%);
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.3rem;
}
.deletelistIcon i{
    color: #ea5656;;
    font-size: 1.5rem;
}
.cardName{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.8rem;
    min-height: 2.5rem;
    background-color: lightgrey;;
    border-radius: 0.4rem;
    cursor: pointer;
}
.cardName p{
    color: #666971;
    margin: unset;
}



.Title{
    /* display: none; */
    margin: 0.8rem;
    min-height: 2.5rem;
    background-color: #dfdbdb;
    /* border-bottom: 0.1rem solid gray; */
}


.Title>div{
    /* color: gray; */
    /* font-size: 2rem; */
    display: flex;
    align-items: center;
    margin: 0.8rem 0;
    /* padding-top: 0.2rem; */
}
.Title>div>i{
    font-size: 1.7rem;
    margin-left: 1rem;
    color: rgb(218, 121, 121);
}
.addCard, .addItem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.8rem;
    height: 2.5rem;
    background-color: #6d75a7;;
    cursor: pointer;
    border-radius: 0.5rem;
    width: 50%;
}
.addCard>.plus, .addItem>.plus{
    font-size: 1rem;
    padding: 0 0.25rem;
    color: whitesmoke;
}
.addCard>p, .addItem>p{
    font-size: 1rem;
    margin: unset;
    padding: 0 0.25rem;
    color: whitesmoke;
    /* margin-bottom: none; */
}
.blackBackground{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7) ;
     width: 100%; 
     overflow-y: scroll;
}

.cardDiscription{
    display: flex;
    position: absolute;
    width: 45%;
    background-color: rgb(243, 243, 243);
    min-height: 30rem;
    top:15%;
    left:50%;
    transform: translateX(-50%);
    margin: auto;
    border-radius: 0.5rem; 
    column-gap: 0.7rem;
}
.cardDiscriptionDiv1{
    width: 70%;
    background-color: rgb(73 83 111 / 20%);
    margin: 0.8rem 0;
    border-radius: 0.3rem;
}
.cardDiscriptionDiv2{
    width: 30%;
}
.cardDiscription>div>aside{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9ba6ac;
    margin-top: 5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #444444;
}
.cardDiscription>div>i{
    position: absolute;
    right: 0;
    padding-right: 1rem;
    cursor: pointer;
}
.cardDiscription>div>aside>div{
    margin-top: 2.5rem;
    cursor: pointer;
}
.cardDiscription>div>aside div:last-child{
    margin-bottom: 2.5rem;
}
.cardDiscription i{
    font-size: 1.5rem;
    color: rgb(92, 89, 89);
    padding-right: 1rem;
}
.cardDiscription .Title{
    margin: 0.8rem;
    min-height: 2.5rem;
    background-color: rgb(243, 243, 243);
    /* border-bottom: 0.1rem solid gray; */
}
.cardDiscriptionDiv1>div{
    margin: 2rem 1rem;
}

.descriptionBox{
    width: 75%;
}
.add,.delete{
    /* position: relative; */ 
    width: 4rem;
    height: 1.7rem;
    background-color: #dcafaf;
    display: inline-block;
    text-align: center;
    padding-top: 0.12rem;
    cursor: pointer;
    /* margin-left: 5rem; */
    /* left: ;*/
}
.cardDescriptionCheckLists>div{
    margin: 1rem 0;
    padding: 1rem 2rem;
    background-color: rgb(115 129 146 / 37%);
    border-radius: 1rem;
}
.addItem{
    color: white;
    background-color: #547793;
    height: 2rem;
    width: 9rem;
}

.cardDiscriptionDetails {
    display: flex;
}

.checklistName{
    display: flex;
}


.cardnamedisplay{
    font-size: 1.5rem;
    font-weight: bold;
    color: #484949;
}
.description{
    font-size: 1.2rem;
    font-weight: bold;
    color:#484949;
    width: 65%;
}
.delete{
    width: 4.5rem;
    height: 1.7rem;
    
}
.checklistname{
    font-size: 1.2rem;
    font-weight: bold;
    color:#484949;
    width: 65%;
}
.progressBar{
    /* display: flex; */
    margin-top: 2rem;
    width: 100%;
    /* margin: auto; */
}
.checkBox{
    margin: 0.8rem 0;
}




